/* src/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tus estilos globales opcionales */
body {
    font-family: system-ui, sans-serif;
    background-color: #f4f7f9;
    color: #111827;
}

.perspective {
    perspective: 1000px;
}

.transform-style-preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}